:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background: #2c2c2c;
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  margin: 0;
}

.main-block{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content:space-around;
  height: 100%;
  width: 700px;
  margin: 0;
  padding: 5px;
}

.panel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  /* border: 1px solid#cccccc; */
}

.row{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  /* border: 1px solid#cccccc; */
}

input{
  background: #4f4f4f;
  border-radius: 7px;
  outline: none;
  border:0;
  padding-left: 10px;
  height: 25px;
  color: #E0E2E4;
  accent-color: #E0E2E4;
  margin: 5px;
  text-align: center;
}

input.short{
  width: 112px;
}
input.long{
  width: 244px;
}
input#shop_id{
  width: 190px;
}
input#marketing_interval{
  width: 34px;
}

button{
  background: #4f4f4f;
  border-radius: 7px;
  border:0;
  width: 256px;
  height: 25px;
  color: #E0E2E4;
  margin: 5px;
}

button:hover{
  cursor: pointer;
  background: #4f4f4f6b;
}
.image{
  text-align: center;
  vertical-align: bottom;
}
img{
  height: 350px;
  margin-top: 15px;
  border-radius: 30px;
}
h1{
  color: #E0E2E4;
  text-align: center;
  width: 100%;
  font-size: 40px;
  margin-bottom: 0;
  font-weight: 600;
  letter-spacing:3px;
}
h5{
  color: #e0e2e48f;
  text-align: center;
  width: 100%;
  font-size: 10px;
  margin: 0;
  font-weight: 100;
  word-spacing:5px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #272727;
    background-color: #e6e6e6;
  }

  input,
  button {
    color: #272727;
    background-color: #cecece;
  }
  button:hover {
    background-color: #f6f6f6de;
  }
  h1{
    color: #272727;
  }
  h5{
    color: #272727;
  }
  
}
